:root {
    --SOA-color1: hsl(29, 68%, 84%);
    --SOA-color2: hsl(33, 60%, 55%);
    --SOA-color3: hsl(23, 66%, 46%);
    --SOA-color4: hsl(10, 25%, 42%);
    --SOA-color5: hsl(50, 20%, 37%);
    --SOA-color6: hsl(188, 54%, 20%);
    
    --TColor-1: #f2d6bb;
    --TColor-2: #D19449;
    --TColor-3: #c16228;
    --TColor-4: #865a51;
    --TColor-5: #B3B0AB;

    --bodyColor: white;
    
    --serif: 'Cormorant Garamond', serif;
    --sans: 'Josefin Sans', sans-serif;

    --h1Size: clamp(2.50rem, calc(1.93rem + 2.86vw), 4.50rem); 
    /* 40-72px */
    --h2Size: clamp(2.00rem, calc(1.57rem + 2.14vw), 3.50rem);
    /* 32-56px */
    --h3Size: clamp(1.63rem, calc(1.27rem + 1.79vw), 2.88rem);
    /* 28-46px */
    --subheadSize: clamp(1.50rem, calc(1.29rem + 1.07vw), 2.25rem);
    /* 40-72px */
    --bodySize: clamp(1.13rem, calc(1.09rem + 0.18vw), 1.25rem);
    /* 18-20px */
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--sans);
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}

/* HEADINGS */
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    padding: 1rem;
    width: 70%;
    margin: 2vh auto;
}

h1 {
    font-family: var(--sans);
    font-weight: 700;
    font-size: var(--h1Size);
}

h2 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: var(--h2Size);
}

h3 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: var(--h3Size);
}

h4,
h5,
h6 {
    font-family: var(--serif);
    font-weight: 500;
    font-style: italic;
    font-size: var(--subheadSize);
}

/* BODY TEXT */
p {
    font-family: var(--sans);
    font-weight: 300;
    width: 65%;
    margin: 1em auto;
    font-size: var(--bodySize);
}

a {
    text-decoration: none;
}

/* IMAGE BLOCKS */
.imgBlock img {
    width: 100%;
}

.imgBlock p {
    width: 100%;
    font-size: 1rem;
    margin: 0.5em 0;
}

.caption {
    font-weight: 100;
}

.img_center {
    width: 70%;
    margin: 1em auto;
}

.img_right {
    width: 40%;
    float: right;
    margin: 0.5em 15% 0.5em 0.5em;
}

.img_left {
    width: 40%;
    float: left;
    margin: 0.5em 1.25em 0.5em 15%;
}

.img_split {
    width: 71%;
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
}

.img_split .img_center {
    margin: 0 0.5em;
}


/* NAVBAR */
header {
    background-color: hsla(0, 0%, 0%, 0.7) !important;
}

.menu {
    background-color: rgb(50, 50, 50) !important;
}

.menu a:hover,
.menu a:active {
    filter: brightness(1.5) !important;
}

.sticky {
    background: hsla(0, 0%, 0%, 0.4) !important;
}

.sticky:hover, 
.sticky:active {
    background-color: hsla(0, 0%, 0%, 0.7) !important;
}


/* HERO */
#hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

#hero .title {
    position: absolute;
    width: inherit;
    top: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease-out;
}

.title > * {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title h1 {
    font-size: clamp(4.50rem, calc(3.11rem + 6.96vw), 9.38rem);
    letter-spacing: 0.05em;
    line-height: 0.8;
    width: 70vw;
    /* background-color: red; */
}

.title h2 {
    font-style: italic;
    letter-spacing: 0.05em;
    /* background-color: red; */
    width: 70vw;
    margin-top: 1em;
    line-height: 1.25em;
    font-size: clamp(1.50rem, calc(1.21rem + 1.43vw), 2.50rem);
}

#hero img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
    background-color: black;
}

#hero svg {
    filter: opacity(0.9);
    fill: white;
    transform: translateY(-15vh);
    width: 100%;
    height: 10vh;
    padding-bottom: 5vh;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#hero svg:hover, 
#hero svg:active {
    filter: opacity(1);
    height: 12vh;
    padding-bottom: 4vh;
    transform: translateY(-15.5vh);
}

/* INTRO */
#introCont {
    /* background-color: red; */
    /*border-top: solid 2px var(--SOA-color6);
    border-bottom: solid 2px var(--SOA-color6);*/
}

#introCont > * {
    width: 50%;
}

#introCont h3 {
    text-align: center;
}

#introCont p {
    line-height: 2em;
}

/* PANELS */
#panelCont {
    width: 80%;
    height: 80vh;
    display: flex;
    /*border-top: solid 2px var(--SOA-color6);
    border-bottom: solid 2px var(--SOA-color6);*/
    transition: all 0.8s ease-in-out;
    margin: 10vh auto;
}

.panel {
    display: flex;
    width: 100vw;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    flex-direction: column;
    justify-content: center;
    background: no-repeat center;
    background-size: 100vw;
    text-align: center;
    filter: grayscale(1);
    transition: all 0.6s ease-in-out;
}

.panel:hover, 
.panel:active {
    cursor: pointer;
    background-size: 80vw;
    filter: grayscale(0);
    width: 250vw;
}

.panel:after {
    content: " \27A4";
    color: transparent;
    display: flex;
    flex-direction: column;
    transform: translate(12vw, 3em);
    position: absolute;
    font-size: clamp(2.00rem, calc(1.57rem + 2.14vw), 3.50rem);
    transition: all 0.4s ease-in-out;
}

.panel:hover:after {
    color: hsla(0, 0%, 100%, 1);
}

.cardText {
    color: white;
    text-shadow: 2px 0px 5px hsla(0, 0%, 0%, 0.7);
    transition: all 0.6s ease-in-out;
    padding: 1em 0;
    backdrop-filter: blur(2px);
}

.cardText:hover,
.cardText:active {
    filter: none;
    
}

.cardText > * {
    margin: 0.25em auto;
    width: 90%;
}

.cardText p {
    line-height: 1.5em;
    font-weight: 500;
}

.cardText h2 {
    line-height: 1em;
    font-family: var(--sans);
}

/* CREDITS */
#creditsCont {
    height: 80vh;
    /*border-top: solid 2px var(--SOA-color6);
    border-bottom: solid 2px var(--SOA-color6);*/
}

/* FOOTER */
#footer {
    background-color: var(--SOA-color6);
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5vh 0;
}

#footer a {
    color: white;
}

.footerInside {
    display: flex;
    margin: 0 auto;
    width: 80vw;
    font-size: clamp(1.25rem, calc(1.21rem + 0.18vw), 1.38rem);
}

.footerInside a {
    cursor: pointer;
    line-height: 1.25em;
}

.footerInside a:hover,
.footerInside a:active {
    text-decoration: underline;
}

.footerLogo {
    padding: 1em 0.5em;
    margin: 0 1em;
}

.footerLogo img {
    width: 15vw;
}

.footerlinks {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    width: 100%;
    align-items: center;
}

.footerlinks a {
    padding: 0.5em;
}

.pastlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    line-height: 2em;
}

.pastlinks a {
    padding: 0.25em 0.5em 0;
    font-weight: 300;
}

.pastlinks a:not(:last-child) {
    border-right: solid 2px white;
}

.pastlinks a:hover,
.pastlinks a:active {
    text-decoration: underline;
}

.VisCom {
    text-decoration: underline;
}

@media (max-width: 1080px) {
    .logo img {
        width: 7vw;
    }

    #panelCont {
        flex-direction: column;
        height: 100vh;
        margin: 0 auto;
        padding: 5vh 0 10vh;
    }
    
    .panel {
        width: 80vw;
        padding: 3.5vh 0;
        background: no-repeat center;
        background-size: 130vw;
        text-align: left;
    }
    
    .panel:hover, 
    .panel:active {
        background-size: 120vw;
        width: 80vw;
    }

    .panel:after {
        display: flex;
        flex-direction: column;
        transform: translate(70vw, 0em);
    }
    
    .cardText > * {
        width: 70%;
        padding: 0;
        margin: 0 0 0 15vw;
    }
    
    #footer {
        height: 45vh;
    }

    .footerInside {
        width: 95vw;
    }

    .footerLogo {
        margin: 0 0 0 1em;
        padding: 1em 0;
    }
}

@media screen and (max-width: 800px) {
    .logo img {
        width: 8vw;
    } 

    .panel:after {
        transform: translate(65vw, 0em);
    }

    .cardText > * {
        margin: 0 0 0 10vw;
    }

    #footer {
        height: 60vh;
    }

    .footerInside {
        width: 90vw;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footerLogo {
        padding: 0.5em;
        margin: 0.5em auto 0;
    }

    .footerLogo img {
        width: 25vw;
    }
}

@media screen and (max-width: 768px) {
    
    
    .logo img {
        width: 10vw;
    }

    #hero .title {
        top: 30vh;
    }

}

@media screen and (max-width: 660px) {

    #introCont > * {
        width: 80%;
    }

    #footer {
        height: 90vh;
        padding: 10vh 0 0;
    }

    .footerlinks {
        flex-direction: column;
        width: 50vw;
        height: 25vh;
    }

    .footerlinks a {
        margin: 0.25em 0;
    }

    .footerLogo {
        padding: 1.5em 0.5em 0.5em;
        margin: 1em auto 0;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        min-width: 100vw;
    }

    .menu a {
        min-width: 100vw;
    }
    
}

@media screen and (max-width: 500px) {
    .logo {
       margin-right: 0.75em;
    }
    
    .logo img {
        width: 15vw;
    }
    
    #panelCont {
        width: 100%;
        padding: 5vh 0 0;
    }

    .panel {
        width: 100%;
    }

    .panel:hover, 
    .panel:active {
        background-size: 120vw;
        width: 100vw;
    }

    .panel:after {
        transform: translate(80vw, 0em);
    }

    #footer {
        height: 95vh;
        padding: 10vh 0 0;
    }

    .footerLogo img {
        width: 40vw;
    }
}

@media screen and (max-width: 425px) {
    .title h1 {
        width: 100%;
        /* background-color: red; */
    }
    
    #hero {
        top: 20vh;
    }

    #hero img {
        height: 80vh;
    }

    #footer {
        height: 100vh;
        padding: 20vh 0 10vh;
    }
}


@media screen and (max-width: 340px) {

}
  
  
