
/* NAVBAR */
header {
    z-index: 1;
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0em 5%;
    align-items: center;
    background-color: #000;
    font-size: clamp(1.25rem, calc(1.18rem + 0.36vw), 1.50rem);
    color: #fff;
    transition: 0.3s;
    transition-property: top;
} 

.returnHome {
    display: flex;
    align-items: center;
}

.logo img {
    width: 5.5vw;
}

.resourceHome {
    text-transform: uppercase;
    padding: 1.25em 0.5em 1em;
    line-height: 1.5rem;
    text-shadow: 2px 2px 10px #000;
}

.resourceHome:hover,
.resourceHome:active {
    text-decoration: underline;
}

header a {
    color: #fff;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
    transition-property: right;
    position: fixed;
    flex-direction: column;
    background-color: hsl(0, 0%, 14%);
    color: white;
    height: 100vh;
    overflow: hidden;
    top: 0;
    right: -120%;
}

.menu a {
    min-width: 100%;
    text-align: left;
    color: white;
    padding: 1em 10vw;
    transition: all 0.3s ease-in-out;
    background-color: inherit;
}

.menu a:hover,
.menu a:active {
    text-decoration: underline;
    filter: brightness(1.2);
}

.menu-btn {
    padding: 1em;
    transition: all 0.4s ease-in-out;
    text-shadow: 2px 2px 10px #171717;
}

.menu-btn:hover,
.menu-btn:active {
    background-color: hsl(0, 0%, 25%);
}

.close-btn {
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    right: 5.5vw;
    padding: 1em;
}

.close-btn:hover,
.close-btn:active {
    background-color: hsl(0, 0%, 50%);
}

.menu.active {
    right: 0;
}

.btn {
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    background: hsla(0, 0%, 0%, 0.7);
    transition: all 0.4s ease-in-out;
    mix-blend-mode: screen 80%;
    backdrop-filter: blur(5px);
    /* height: 2em; */
}

.sticky:hover, 
.sticky:active {
    background-color: hsla(0, 0%, 0%, 0.7);
    mix-blend-mode: normal;
    height: inherit;
    top: 0;
}

a.currentSection {
    background-color: hsl(0, 0%, 25%);
}

.current {
    text-decoration: underline;
}

/* SUBLINKS */
.sublinks {
    display: flex;
    flex-direction: column;
    background-color: rgb(115, 115, 115);
}

/* FOOTER */
#footer {
    background-color: hsl(0, 0%, 0%);
    height: inherit;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5vh 0;
}

#footer a {
    color: white;
}

.footerInside {
    display: flex;
    margin: 0 auto;
    width: 80vw;
    font-size: clamp(1.25rem, calc(1.21rem + 0.18vw), 1.38rem);
}

.footerInside a {
    cursor: pointer;
    line-height: 1.25em;
}

.footerInside a:hover,
.footerInside a:active {
    text-decoration: underline;
}

.footerLogo {
    padding: 1em 0.5em;
    margin: 0 1em;
}

.footerLogo img {
    width: 15vw;
}

.footerlinks {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    width: 100%;
    align-items: center;
}

.footerlinks a {
    padding: 0.5em;
}

#footer p {
    line-height: 1.5em;
}

.VisCom {
    text-decoration: underline;
}

@media (max-width: 1080px) {
    .logo img {
        width: 7vw;
    }

    .footerInside {
        width: 95vw;
    }

    .footerLogo {
        margin: 0 0 0 1em;
        padding: 1em 0;
    }
}

@media screen and (max-width: 800px) {
    .logo img {
        width: 8vw;
    }

    .footerInside {
        width: 90vw;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footerLogo {
        padding: 0.5em;
        margin: 1em auto 0;
    }

    .footerLogo img {
        width: 25vw;
    }
}

@media screen and (max-width: 768px) {
    
    
    .logo img {
        width: 10vw;
    }

}

@media screen and (max-width: 660px) {

    #footer {
        padding: 10vh 0 0;
    }

    .footerlinks {
        flex-direction: column;
        width: 50vw;
        height: 25vh;
    }

    .footerlinks a {
        margin: 0.25em 0;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        min-width: 100vw;
    }

    .menu a {
        padding: 1em 30vw;
    }

}

@media screen and (max-width: 500px) {
    .logo {
       margin-right: 0.75em;
    }
    
    .logo img {
        width: 15vw;
    }

    .footerLogo {
        padding: 2em 0.5em 0.5em;
        margin: 1em auto 0;
    }

    .footerLogo img {
        width: 40vw;
    }
}