:root {
    --SGcolor1: #f2d6bb;
    --SGcolor2: #d19449;
    --SGcolor3: #c16228;
    --SGcolor4: #865a51;
    --SGcolor5: #716b4c;
    --SGcolor6: #184950;
    
    --heading: 'Cormorant Garamond', serif;;
    --body: 'Josefin Sans', sans-serif;
  }

body {
    font-family: var(--body);
    font-weight: 400;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading);
    font-weight: 700;
}

#landingHero {
    width: 100%;
    position: relative;
}

#landingHero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#panelCont {
    width: 80%;
    height: 80vh;
    padding: 10vh 10%;
    display: flex;
    background-color: var(--SGcolor1);
}

#panelCont > * {
    flex: 1 1 10em;
}

.panel {
    display: flex;
    width: 100%;
    border: solid 2px white;
    flex-direction: column;
    justify-content: center;
    background: no-repeat center;
    background-size: 100vw;
    text-align: center;
    filter: grayscale(0.75);
    transition: all 0.4s ease-in-out;
}

.panel:hover, 
.panel:active {
    cursor: pointer;
    background-size: 80vw;
    filter: grayscale(0)
}


.cardText:hover,
.cardText:active {
    filter: none;
}

.cardText > * {
    margin: 0.25em 0;
}

#creditsCont {
    width: 100%;
    height: 100vh;
    background-color: var(--SGcolor6);
}
