:root {
    /* --SOA-color1: #f2d6bb;
    --SOA-color2: #d19449;
    --SOA-color3: #c16228;
    --SOA-color4: #865a51;
    --SOA-color5: #716b4c;
    --SOA-color6: #184950; */
    
    --TColor-1: #f2d6bb;
    --TColor-2: #865a81;
    --TColor-3: #716b4c;

    --bodyColor: #412700;
    
    --serif: 'Cormorant Garamond', serif;
    --sans: 'Josefin Sans', sans-serif;

    --h1Size: clamp(2.50rem, calc(1.93rem + 2.86vw), 4.50rem); 
    /* 40-72px */
    --h2Size: clamp(2.00rem, calc(1.57rem + 2.14vw), 3.50rem);
    /* 32-56px */
    --h3Size: clamp(1.63rem, calc(1.27rem + 1.79vw), 2.88rem);
    /* 28-46px */
    --subheadSize: clamp(1.50rem, calc(1.29rem + 1.07vw), 2.25rem);
    /* 40-72px */
    --bodySize: clamp(1.13rem, calc(1.09rem + 0.18vw), 1.25rem);
    /* 18-20px */
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--sans);
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}

/* HEADINGS */
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    padding: 1rem;
    width: 70%;
    margin: 2vh auto;
}

h1 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: var(--h1Size);
}

h2 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: var(--h2Size);
}

h3 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: var(--h3Size);
}

h4,
h5,
h6 {
    font-family: var(--serif);
    font-weight: 500;
    font-style: italic;
    font-size: var(--subheadSize);
}

/* BODY TEXT */
p {
    font-family: var(--sans);
    font-weight: 300;
    width: 65%;
    margin: 1em auto;
    font-size: var(--bodySize);
}

a {
    text-decoration: none;
}

/* IMAGE BLOCKS */
.imgBlock img {
    width: 100%;
}

.imgBlock p {
    width: 100%;
    font-size: 1rem;
    margin: 0.5em 0;
}

.caption {
    font-weight: 100;
}

.img_center {
    width: 70%;
    margin: 1em auto;
}

.img_right {
    width: 40%;
    float: right;
    margin: 0.5em 15% 0.5em 0.5em;
}

.img_left {
    width: 40%;
    float: left;
    margin: 0.5em 1.25em 0.5em 15%;
}

.img_split {
    width: 71%;
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
}

.img_split .img_center {
    margin: 0 0.5em;
}

/* TIMBER HOME */
/* BREADCRUMBS */
#breadcrumbs {
    display: flex;
    background-color: var(--TColor-3);
    padding: 0.5em 1em;
    color: white;
}

#breadcrumbs a {
    text-decoration: none;
    color: white;
}

#breadcrumbs a:active {
    text-decoration: underline;
}

#breadcrumbs .active {
    text-decoration: underline;
    font-weight: 500;
}

#breadcrumbs > * {
    padding: 0 0.5em;
    opacity: 0.8;
    font-weight: 300;
}

/* NAVBAR */
#navbar {
    background-color: var(--TColor-1);
    font-size: clamp(1.25rem, calc(1.18rem + 0.36vw), 1.50rem);
    display: flex;
    justify-content: flex-end;
}

#navbar > * {
    padding: 0.8em 2em;
    color: var(--bodyColor);
}

/* HERO */
#hero {
    position: relative;
    width: 100%;
    height: 90vh;
}

#hero img {
    width: 100%;
    object-fit: cover;
    height: 90vh;
}

#hero svg {
    filter: invert(1) opacity(0.8);
    transform: translateY(-25vh);
    width: 100%;
    height: 10vh;
    transition: all 0.3s ease-in-out;
}

#hero svg:hover, 
#hero svg:active {
    filter: invert(1) opacity(1);
    height: 12vh;
    transform: translateY(-25.5vh);
}

/* STORIES */
#stories {
    height: 100vh;
    background-color: var(--TColor-2);
}

