:root {
  /* --SOA-color1: #f2d6bb;
    --SOA-color2: #d19449;
    --SOA-color3: #c16228;
    --SOA-color4: #865a51;
    --SOA-color5: #716b4c;
    --SOA-color6: #184950; */
  --TColor-1: #ba9c49;
  --TColor-2: #333333;
  --TColor-3: #716b4c;
  --bodyColor: #ffffff;
  --serif: 'Cormorant Garamond', serif;
  --sans: 'Josefin Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
  background: #191919;
  background-position: center !important;
  font-family: var(--sans);
  font-weight: 400;
  margin: 0;
  font-size: 16px;
padding: 0;
}
/* BODY TEXT */
p {
  font-weight: 300;
  font-size: 1.5em;
	line-height:1.25em;
	width: 100%;
}
a {
  text-decoration: none;
	color: #fff!important;
}
a:hover {
	color: #fff!important;
}

.hide a{
	color: transparent!important;
}



/* IMAGE BLOCKS */
.imgBlock img {
  width: 100%;
}
.imgBlock p {
  width: 100%;
  font-size: 1rem;
  margin: 0.5em 0;
}
.caption {
  font-weight: 100;
}
.img_center {

}
.img_right {
  width: 40%;
  float: right;
  margin: 0.5em 15% 0.5em 0.5em;
}
.img_left {
  width: 40%;
  float: left;
  margin: 0.5em 1.25em 0.5em 15%;
}
.img_split {
  width: 71%;
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
}
.img_split .img_center {
  margin: 0 0.5em;
}

@media screen and (max-width: 600px) {
  .bgimage h1 {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    line-height: .75em !important;
    font-size: 10vw !important;
    text-align: center !important;
    align-content: center !important;
    justify-content: center !important;
  }
  .bgimage {
  }

}




.bgimage {
  width: 100%;
  height: 100%;
  background: url("../images/coal/landing page/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
	padding: 50vh 17vw 0;
}
.bgimage h1 {
  color: white;
  text-transform: uppercase;
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
  font-family: var(--sans);
  font-weight: 800;
  font-size: 10vw!important;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, .8);	line-height: 6.5vw!important;

}


.bgimage h2 {
  font-size: 3vw !important;
  font-weight: 400 !important;
  font-family: var(--sans);
  text-align: center;line-height: 3vw!important;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, .8);
}
.stext p{
  padding: 8vh 10vw 0 10vw;
  color: #fff;
  height: auto;
}
.stext {
  padding: 0 10vw;
  color: #fff;
  height: auto;
	width: 100%!important;
}.stext2 p{
  padding: 8vh 5vw 0 0vw;
  color: #fff;
  height: auto;
}
.stext2{
	  padding: 0 5vw;
  color: #fff;
  height: auto;
	justify-content: center;
}
.ttextmore {
  padding-top: 10vh !important;
}
.stext p{
}
.ttextmore h1 {
  font-size: 5em;
  font-weight: 800;
  font-family: var(--sans);
}

@media screen and (max-width: 992px) {
  .stext p {
    padding: 8vh 0vw 0vh 0vw !important;
    font-size: .95em;
  }
  .bgimage {
    font-size: 10vw !important;
  }
  .timelineimage {
    font-size: 10vw !important;
	  
  }
  .stext2 p {
    padding: 8vh 0vw 0vh 0vw !important;
    font-size: .95em;
  }
}	
header img{
margin-top: 0!important;
}
img{
	margin-top: 8vh!important;
	background: rgba(0,0,0,0.00)!important;
		background-color: transparent!important;
	color: transparent!important;
}
.sub {
  margin: 0px !important;
  padding: 0px !important;
}
.sub img {
  margin: 0px !important;
  width: 100%;
  height: 80%;
  padding: 0px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  object-fit: fill;
}
.sub row {
  width: 100%;
  height: 100%;
}
.sub h2 {
  padding-left: 10%;
  margin-top: 30%;
  margin-bottom: 3%;
  width: 60vw;
  font-size: 4vw !important;
}
.sub svg {
  margin-left: 0px !important;
  width: 40% !important;
}
.sub .subbtn {
  margin-left: 45vw;
}
.storiesbtn {
  border-radius: 100px;
  background: #c16227;
  padding: 20px 30px;
}
h3 {
  font-size: 3em;
  font-weight: 800;
  font-family: var(--sans);
}
.bstories1 {
  background: #c16227;
}
.bstories2 {
  background: #716b4c;
}
.bstories3 {
  background: #184950;
}
.bstories4 {
  background: #d09449;
}
.bstories {
  color: #fff;
  width: auto;
  padding: 0px !important;
  margin: 0 !important;
}
.bstories h3 {
  font-size: 3.5em;
}
.bstories p {
  font-size: 2em;
}
.bstories1img {
  background: url("../images/land/Landing/History_profilepic.jpg");
  width: 33%vw;
  background-size: cover;
  background-position: top;
}
.bstories2img {
  background: url("../images/land/Landing/Talcon_profilepic.jpg");
  width: 33%vw;
  background-size: cover;
  background-position: top;
}
.bstories3img {
  background: url("../images/land/Landing/Rick_profilepic.jpg");
  width: 33%vw !important;
  background-size: cover;
  background-position: left;
}
.bstories4img {
  background: url("../images/land/Landing/Landing_hero.jpg");
  width: 33%vw !important;
  background-size: cover;
  background-position: left;
}
.bstoriestext {
  padding: 50px 160px 30px 30px;
  font-size: 1em;
}
.bstories i {
  height: 1em;
}
@media screen and (max-width: 992px) {
  .bstories1img {
    height: 50vh;
    width: 100vw !important;
  }
  .bstories2img {
    height: 50vh;
    width: 100vw !important;
  }
  .bstories3img {
    height: 50vh;
    width: 100vw !important;
  }
  .bstories4img {
    height: 50vh;
    width: 100vw !important;
  }
  .btn-land {
    padding: 15px 50px !important;
    border-radius: 100px;
    font-size: 2.3em;
    border: none;
  }
  .bstories {
    color: #fff;
    width: auto;
    height: auto;
  }
  .bstoriestext {
    text-align: center;
    margin: 0 !important;
    padding: 25px 30px 40px 30px !important;
  }
  .bstories h3 {
    font-size: 2.5em;
  }
  .bstories p {
    font-size: 1em;
  }
  .bstories a {
    font-size: 2em;
    color: white !important;
    font-style: italic;
    font-weight: 400;
  }
  .bstories i {
    height: 1em;
  }
  .footer {
    height: 10% !important;
  }
  .footer a {
    font-size: 20px !important;
  }
}
.btn-land {
  padding: 15px 50px !important;
  border-radius: 100px;
  font-size: 2.3em;
  border: none;
}
.btn-land-1 {
  background: #d09449 !important;
}
.btn-land-2 {
  background: #194950 !important;
}
.btn-land-3 {
  background: #716b4d !important;
}
.btn-land-4 {
  background: #c16227 !important;
}
.infographic img {
  height: 100%;
  width: auto;
}
.timeline img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
.creditsohc img {
  position: absolute;
  height: 100px !important;
  width: 100px !important;
  object-fit: fill;
}
.timeline2 img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
.timeline2 h3 {
  color: #194950;
}
.timeline h3 {
  color: #194950;
}
.dot {
  height: 50px;
  width: 50px;
  background-color: #d09449;
  border-radius: 50%;
  display: block;
}
.bruhline {
  padding-left: 25px;
}
.line {
  height: 100%;
  width: 2px;
  background-color: #716b4d;
  display: block;
}
.imgcaption-l {
  padding-top: 10px!important;
  font-size: .85em;
  text-align: left;	color: #fff;
  font-weight: 300 !important;
  font-weight: 100;
}
.imgcaption-r {
  padding-top: 10px!important;
  font-size: .85em;
  font-weight: 300 !important;
  text-align: right;	color: #fff;

}
.bottom-imgs img{
	padding-bottom: 40px!important;
}

.imgcaption-s {
  font-size: 1em!important;
  font-weight: 300 !important;
  text-align: left;
	color: #fff;
	padding-top: 10px;
	padding-left: 5vw;
}
.underline-r {
  border-bottom:  .5vw solid #ba9c49;
  display: block;
  width: 45%;
  float: right;
  margin: 0 !important;
}
.underline-l {
  border-bottom: .5vw solid #ba9c49;
  display: block;
  width: 45%;
  float: left;
  margin: 0 !important;
}
.underline-s {
  border-bottom:  .5vw solid #ba9c49;
  display: block;
  width: 25vw;
  float: left;
  margin: 0 0 0 5vw!important;
}

.underline-pq {
  border-bottom: .5vw solid #ba9c49;
display: inline-block;	
  width: 45vw;
	margin-top: 0vh!important;
  margin-left:-10vw!important;
}



.underline-pq2 {
  border-bottom: .5vw solid #ba9c49;
display: inline-block;	
  width: 45vw;
  margin-left:-10vw!important;
}
.pullquote2{
  width: 75%!important;
  padding: 0!important;
	font-family: var(--serif);	margin-top: 5vh;

}
.pullquote2 h1 {
  font-size:4vw !important;  
	font-weight: 600;

}
.pullqq-l2 {
  color: rgba(0, 0, 0, 0.00);
  font-size: 10vw !important;
  line-height: 0 !important;
  -webkit-text-stroke-width: .2vw;
margin-left:-6vw;
	margin-top: 7vw;
  opacity: .4;  

  -webkit-text-stroke-color: #fff;
  float: left
}
.pullqq-r2 {
  color: rgba(0, 0, 0, 0.00);
  font-size: 10vw !important;
  line-height: 0 !important;
  padding-top: .45em !important;
  -webkit-text-stroke-width: .2vw;
  opacity: .4;	
	margin-right:2vw;
	margin-top: -4vw;

  -webkit-text-stroke-color: #fff;
float: right
}

.pullquote{
  width: 60% !important;
  padding: 0!important;
	font-family: var(--serif);
	margin-top: 5vh;
}
.pullquote h1 {
  font-size:4vw !important;  display: inline-block !important;
	font-weight: 600;

}
.pullqq-l {
  color: rgba(0, 0, 0, 0.00);
  font-size: 10vw !important;
  line-height: 0 !important;
  -webkit-text-stroke-width: .2vw;
margin-left:-6vw;
	margin-top: 7vw;
  opacity: .4;  

  -webkit-text-stroke-color: #fff;
  float: left
}
.pullqq-r {
  color: rgba(0, 0, 0, 0.00);
  font-size: 10vw !important;
  line-height: 0 !important;
  padding-top: .45em !important;
  -webkit-text-stroke-width: .2vw;
  opacity: .4;	
	margin-right:2vw;
	margin-top: -4vw;

  -webkit-text-stroke-color: #fff;
float: right
}

.underline-pq3 {
  border-bottom: .5vw solid #ba9c49;
display: inline-block;	
  width: 45vw;
	float:right;
	margin-top: 0vh!important;
  margin-left:-10vw!important;	margin-bottom: 20vh;

}
.pullquote3{
  width: 100% !important;
  padding: 0!important;
	font-family: var(--serif);
	color: #fff;	
	margin-top: 5vh;


}
.pullquote3 h1 {
  font-size:4vw !important;  display: inline-block !important;
	font-weight: 600; float: right;
	padding-left: 45vw;

}
.pullqq-l3 {
  color: rgba(0, 0, 0, 0.00);
  font-size: 10vw !important;
  line-height: 0 !important;
  -webkit-text-stroke-width: .2vw;
margin-left:-6vw;
	margin-top: 7vw;
  opacity: .4;  

  -webkit-text-stroke-color: #fff;
  float: left
}
.pullqq-r3 {
  color: rgba(0, 0, 0, 0.00);
  font-size: 10vw !important;
  line-height: 0 !important;
  padding-top: .45em !important;
  -webkit-text-stroke-width: .2vw;
  opacity: .4;	
	margin-right:2vw;
	margin-top: -4vw;

  -webkit-text-stroke-color: #fff;
float: right
}
.timeline .col-11 {
  padding-left: 50px;
}
.timeline2 .col-11 {
  padding-left: 50px;
}
.storyimage {
  width: 100%;
	padding: 0 10vw;
}
.storyimage h6 {
  font-size: 1.0em !important;
}
.storyimage img {
  width: 100%;
  height: auto;


}

.storyimage2 img {
  width: 100% !important;
  height: auto!important;
  object-fit: cover;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}
.storyimage3 h6 {
  font-size: 1.0em !important;
}
.storyimage3 img {
  width: 100%!important;
	height: auto;
  object-fit: contain;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}
.storyimage4 h6 {
  font-size: 1.5em !important;
}
.storyimage4 img {
  width: 100% !important;
  object-fit: contain;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}
@media screen and (max-width: 992px) {
   .storyimage3 img {
    height: auto !important;
    width: 100% !important;	 
	   

  }
	
	
	.quotecredit-r{

		padding:0!important;
		margin: 0 5vw 0 0!important;

}
	
	.underline-pq2 {
  border-bottom: 1vw solid #ba9c49;
display: inline-block;	
  width: 45vw;
  margin-left:-10vw!important;
}.underline-pq3 {
  border-bottom: 1vw solid #ba9c49;
display: inline-block;	
  width: 45vw;
  margin-left:-10vw!important;
}
	.underline-r {
  border-bottom:  1vw solid #ba9c49;
  display: block;
  width: 45%;
  float: right;
  margin: 0 !important;
}
.underline-l {
  border-bottom: 1vw solid #ba9c49;
  display: block;
  width: 45%;
  float: left;
  margin: 0 !important;
}
.underline-s {
  border-bottom:  1vw solid #ba9c49;
  display: block;
  width: 25vw;
  float: left;
  margin: 0 0 0 5vw!important;
}
.underline-pq {
  border-bottom: 1vw solid #ba9c49;
display: inline-block;	
  width: 45vw;
	margin-top: 0vh!important;
  margin-left:-10vw!important;
}
.storyimage3{
	padding: 0!important;
		float: right;  margin-right: -10vw!important;

	}
  .storyimage {
    height: auto !important;
    width: 100% !important;
  }
  .creditsohc img {
    height: 50px !important;
  }
  .timeline img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .timeline2 img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }.pullquote2{
  width: 100%!important;
  padding: 0!important;
	font-family: var(--serif);
}.pullquote2 h1{
font-size: 6vw!important;
}
	.pullquote{
  width: 100%!important;
  padding: 0!important;
	font-family: var(--serif);
}.pullquote h1{
font-size: 6vw!important;
}
	.pullquote3{
  width: 100%!important;
  padding: 0!important;
	font-family: var(--serif);
}.pullquote3 h1{
font-size: 6vw!important; padding-left: 6vw!important;
}
}
.quotecredit-r{
  margin-left:45vw;

}

.img-story{
	margin-top: 18vh;
}
.img-story img{
	height: 80vh;
		width: 100vw!important;
	object-fit: cover;
	margin: 0!important;
	padding: 0!important;

}
.dylancredit h5 {
  font-size: 1.65em;
  font-style: italic;
  line-height: 1.5em;
  font-weight: 800;
}
.pull-quote {
  font-weight: bold;
  font-size: 3em;
}
.bottom-imgs{
		padding: 0!important;
	margin: 8vh 0 8vh 0!important;
}
.bottom-imgs img{
	padding: 0!important;
	margin: 0 0 10px 0!important;
	height: 60vh;width: 100%; object-fit: cover;
	display: inline-block;
}
#leftimage{
	float: left!important;
}#rightimage{
	float: right!important;
}
.infographic{
	width: 80vw!important;
	background: #fff!important;
}


.headline {	font-weight: 800; 
color: #ba9c49;	font-size: 7vw!important;	text-align: center;	text-transform: uppercase;
	 margin: 8vh 8vw 5vh 0 !important; width: 100%!important;align-items: center;justify-content: center;	padding: 0 0 0 0!important;
}
.underline-c {
	justify-content: center!important;
align-items: center!important;
 margin:0 0 0 0!important;
	padding:0!important;
  border-bottom:  1vw solid #ba9c49;
  width: 100%!important;
	
}
@media screen and (min-width: 992px) {
.navLink1 {
	margin-top: 20vh!important;
}  

  }
