:root {
  /* --SOA-color1: #f2d6bb;
    --SOA-color2: #d19449;
    --SOA-color3: #c16228;
    --SOA-color4: #865a51;
    --SOA-color5: #716b4c;
    --SOA-color6: #184950; */
  --TColor-1: #c16227;
  --TColor-2: #333333;
  --TColor-3: #716b4c;
  --bodyColor: #ffffff;
  --serif: 'Cormorant Garamond', serif;
  --sans: 'Josefin Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
background: url("../images/land/Background.jpg");
background-position: center!important;
  font-family: var(--serif);
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  background-repeat: repeat-y;
  background-size: 100% !important;
}
/* BODY TEXT */
p {
  font-weight: 300;
  margin: 1em auto;
  font-size: 2em;
}
a {
  text-decoration: none;
}
/* IMAGE BLOCKS */
.imgBlock img {
  width: 100%;
}
.imgBlock p {
  width: 100%;
  font-size: 1rem;
  margin: 0.5em 0;
}
.caption {
  font-weight: 100;
}
.img_center {
  width: 70%;
  margin: 1em auto;
}
.img_right {
  width: 40%;
  float: right;
  margin: 0.5em 15% 0.5em 0.5em;
}
.img_left {
  width: 40%;
  float: left;
  margin: 0.5em 1.25em 0.5em 15%;
}
.img_split {
  width: 71%;
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
}
.img_split .img_center {
  margin: 0 0.5em;
}


@media screen and (max-width: 600px) {
  .landingtitle {
    margin: auto;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
  .timelinetitle {
    margin: auto;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
  .bgimage h1 {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    line-height: .75em !important;
    font-size: 10vw !important;
    text-align: center !important;
    align-content: center !important;
    justify-content: center !important;
  }
  .bgimage {
    padding-left: 15vw !important;
  }
  .timelineimage h1 {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    line-height: .75em !important;
    font-size: 10vw !important;
    text-align: center !important;
    align-content: center !important;
    justify-content: center !important;
  }
  .timelineimage {
    padding-left: 15vw !important;
  }
}
.bgimage {
  width: 100%;
  height: 85%;
  background: url("../images/land/Landing/Landing_hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.bgimage h1 {
  color: white;
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
  font-family: var(--sans);
  padding-top: 30vh;
  font-weight: 500;
  font-size: 10vw !important;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.bgimage h2 {
  font-style: italic;
  font-size: 6vw !important;
  font-weight: 400 !important;
  font-family: var(--sans);
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.timelineimage {
  width: 100%;
  height: 85%;
  background: url("../images/land/Timeline/History_profilepic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.timelineimage h1 {
  color: white;
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
  font-family: var(--sans);
  padding-top: 30vh;
  font-weight: 500;
  font-size: 10vw !important;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.timelineimage h2 {
  line-height: 0em;
  font-size: 5vw !important;
  font-weight: 400 !important;
  font-family: var(--sans);
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.talconimage {
  width: 100%;
  height: 85%;
  background: url("../images/land/Talcon/Talcon_Hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.talconimage h1 {
  color: white;
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
  font-family: var(--sans);
  padding-top: 30vh;
  font-weight: 500;
  font-size: 10vw !important;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.talconimage h2 {
  line-height: 0.4em;
  font-size: 5vw !important;
  font-weight: 400 !important;
  font-family: var(--sans);
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.rickimage {
  width: 100%;
  height: 85%;
  background: url("../images/land/Rick/Rick_Hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.rickimage h1 {
  color: white;
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
  font-family: var(--sans);
  padding-top: 30vh;
  font-weight: 500;
  font-size: 10vw !important;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.rickimage h2 {
  line-height: 0.4em;
  font-size: 5vw !important;
  font-weight: 400 !important;
  font-family: var(--sans);
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.btext {
  padding: 8vh 8vw !important;
  color: #333333;
  height: auto;
}
.ttext {
  padding: 2vh 8vw !important;
  color: #333333;
  height: auto;
}
.stext {
  padding: 2vh 15vw !important;
  color: #333333;
  height: auto;
}
.ttextmore {
  padding-top: 10vh !important;
}
.ttextmore h1 {
  font-size: 5em;
  font-weight: 800;
  font-family: var(--sans);
}
@media screen and (max-width: 992px) {
  .btext {
    font-size: .75em;
  }
  .ttext {
    font-size: .75em;
  }
  .stext {
    font-size: .75em;
  }
  .bgimage {
    font-size: 10vw !important;
  }
  .timelineimage {
    font-size: 10vw !important;
  }
}
.sub {
  margin: 0px !important;
  padding: 0px !important;
}
.sub img {
  margin: 0px !important;
  width: 100%;
  height: 80%;
  padding: 0px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  object-fit: fill;
}
.sub row {
  width: 100%;
  height: 100%;
}
.sub h2 {
  padding-left: 10%;
  margin-top: 30%;
  margin-bottom: 3%;
  width: 60vw;
  font-size: 4vw !important;
}
.sub svg {
  margin-left: 0px !important;
  width: 40% !important;
}
.sub .subbtn {
  margin-left: 45vw;
}
.storiesbtn {
  border-radius: 100px;
  background: #c16227;
  padding: 20px 30px;
}
h3 {
  font-size: 3em;
  font-weight: 800;
  font-family: var(--sans);
}
.bstories1 {
  background: #c16227;
}
.bstories2 {
  background: #716b4c;
}
.bstories3 {
  background: #184950;
}
.bstories4 {
  background: #d09449;
}
.bstories {
  color: #fff;
  width: auto;
  padding: 0px !important;
  margin: 0 !important;
}
.bstories h3 {
  font-size: 3.5em;
}
.bstories p {
  font-size: 2em;
}
.bstories1img {
  background: url("../images/land/Landing/History_profilepic.jpg");
  width: 33%vw;
  background-size: cover;
  background-position: top;
}
.bstories2img {
  background: url("../images/land/Landing/Talcon_profilepic.jpg");
  width: 33%vw;
  background-size: cover;
  background-position: top;
}
.bstories3img {
  background: url("../images/land/Landing/Rick_profilepic.jpg");
  width: 33%vw !important;
  background-size: cover;
  background-position: left;
}
.bstories4img {
  background: url("../images/land/Landing/Landing_hero.jpg");
  width: 33%vw !important;
  background-size: cover;
  background-position: left;
}
.bstoriestext {
  padding: 50px 160px 30px 30px;
  font-size: 1em;
}
.bstories i {
  height: 1em;
}
@media screen and (max-width: 992px) {
  .bstories1img {
    height: 50vh;
    width: 100vw !important;
  }
  .bstories2img {
    height: 50vh;
    width: 100vw !important;
  }
  .bstories3img {
    height: 50vh;
    width: 100vw !important;
  }
  .bstories4img {
    height: 50vh;
    width: 100vw !important;
  }
  .btn-land {
    padding: 15px 50px !important;
    border-radius: 100px;
    font-size: 2.3em;
    border: none;
  }
  .bstories {
    color: #fff;
    width: auto;
    height: auto;
  }
  .bstoriestext {
    text-align: center;
    margin: 0 !important;
    padding: 25px 30px 40px 30px !important;
  }
  .bstories h3 {
    font-size: 2.5em;
  }
  .bstories p {
    font-size: 1em;
  }
  .bstories a {
    font-size: 2em;
    color: white !important;
    font-weight: 400;
  }
  .bstories i {
    height: 1em;
  }
  .footer {
    height: 10% !important;
  }
  .footer a {
    font-size: 20px !important;
  }
}
.btn-land {
  padding: 15px 50px !important;
  border-radius: 100px;
  font-size: 2.3em;
  border: none;
}
.btn-land-1 {
  background: #d09449 !important;
}
.btn-land-2 {
  background: #194950 !important;
}
.btn-land-3 {
  background: #716b4d !important;
}
.btn-land-4 {
  background: #c16227 !important;
}
.infographic img {
  height: 100%;
  width: auto;
}
.timeline img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
.creditsohc img {
  position: absolute;
  height: 100px !important;
  width: 100px !important;
  object-fit: fill;
}
.timeline2 img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
.timeline2 h3 {
  color: #194950;
}
.timeline h3 {
  color: #194950;
}
.dot {
  height: 50px;
  width: 50px;
  background-color: #d09449;
  border-radius: 50%;
  display: block;
}
.bruhline {
  padding-left: 25px;
}
.line {
  height: 100%;
  width: 2px;
  background-color: #716b4d;
  display: block;
}
.imgcaption {
  padding-top: 10px;
  font-style: italic;
  font-size: 2em; 
	padding-bottom: 20px;

}
.timeline .col-11 {
  padding-left: 50px;
}
.timeline2 .col-11 {
  padding-left: 50px;
}
.storyimage {
  width: 70% !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}
.storyimage h6 {
  font-size: 1.0em !important;
}
.storyimage img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
}
.storyimage2 h6 {
  font-size: 1.0em !important;
}
.storyimage2 img {
  width: 34vw !important;
  height: 34vw !important;
  object-fit: cover;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}
.storyimage3 h6 {
  font-size: 1.0em !important;
}
.storyimage3 img {
  width: 100%;
  object-fit: contain;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}
.storyimage4 h6 {
  font-size: 1.5em !important;
}
.storyimage4 img {
  width: 100%!important;
  object-fit: contain;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}
@media screen and (max-width: 992px) {
  .storyimage2 img {
    height: auto !important;
    width: 100% !important;
  }
  .storyimage {
    height: auto !important;
    width: 100% !important;
  }
  .creditsohc img {
    height: 50px !important;
    width: 50px !important;
  }
  .timeline img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .timeline2 img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
.dylancredit h5 {
  font-size: 1.65em;
  font-style: italic;
  line-height: 1.5em;
  font-weight: 800;
}
.pull-quote {
  font-weight: bold;
  font-size: 3em;
}